.adminNavbar,.userNavbar{
    display: flex;
    justify-content: space-around;
    height: 80px;
    margin: 0px;
    color: black;
    background: linear-gradient(rgb(229, 231, 89),rgb(123, 226, 39));
}
.n11 h1{
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.n211 li{
    margin-top: 10px;
    display: inline-block;
    text-align: center;
    justify-items: center;
    justify-content: space-between;

}
.n211 a{
   margin-left: 20px;
    text-decoration: none;
    color: black;
}
#n22 a{
    color: red;
}

.n211 a:hover{
    color: yellowgreen;
}
